.help-button-wrapper {
    position: fixed;
    bottom: 3em;
    right: 3em;
    text-align: center;
  }
  
  .help-button {
    height: 3em;
    width: 3em;
    font-size: 14px;
    border-radius: 50%;
    border: 0 none;
    background: #72AB59;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }
  
  .help-button:hover,
  .help-button:focus,
  .help-button:active {
    height: 3em;
    width: 3em;
    font-size: 14px;
    border-radius: 50%;
    border: 0 none;
    background: #72AB59;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    outline: 0;
  }
  
  .help-button span {
    display: block;
    font-size: 2em;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 100ms ease;
    transition: -webkit-transform 100ms ease;
    transition: transform 100ms ease;
    transition: transform 100ms ease, -webkit-transform 100ms ease;
  }
  
  .help-button:hover span,
  .expanded .help-button span,
  .expanded .help-button span {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  
  .expanded .help-button {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    color: rgba(255, 255, 255, 0.5);
    background: #ffaa00;
  }
  
  .help-list {
    list-style: none;
    font-size: 16px;
    padding: 0;
    margin: 0;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    -webkit-transform: translate(0, 90px) scale(0.5);
            transform: translate(0, 90px) scale(0.5);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    opacity: 0;
  }
  
  .expanded .help-list {
    -webkit-transform: translate(0px, 20px) scale(1);
            transform: translate(0px, 20px) scale(1);
    opacity: 1;
  }
  
  .help-list li {
    margin-bottom: 1em;
  }
  
  .help-list a {
    color: #212121;
  }
  